USE [master]
GO
/****** Object:  Database [dbForMe]    Script Date: 1/20/2018 4:05:55 PM ******/
CREATE DATABASE [dbForMe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbForMe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\dbForMe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbForMe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\dbForMe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbForMe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbForMe]
GO
USE [dbForMe]
GO
/****** Object:  Table [dbo].[movie]    Script Date: 1/20/2018 4:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[coverImg] [nvarchar](200) NULL,
	[releaseDate] [datetime] NULL,
	[genre] [nvarchar](50) NULL,
	[duration] [tinyint] NULL,
	[createDate] [datetime] NULL,
	[modifyDate] [datetime] NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
